{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrder": ["^react", "^@\\w", "^\\w", "^../(.*)", "^./(.*)"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
