@import 'src/assets/styles/animations';
@import 'src/assets/styles/variables';

.alert {
	width: 100%;
	background-color: #00c853;
	color: $black;
	margin-bottom: 1rem;
	animation: opacity 0.4s;
	padding: 10px;
	border-radius: 10px;

	&.error {
		background-color: #ff1744;
		color: $white;
	}

	&.info {
		background-color: #ffffff;
		color: $black;
	}

	&.warning {
		background-color: #ffd600;
		color: $black;
	}
}
